<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <link href="../static/product.css" rel="stylesheet">
    <title>Goodbook</title>
  </head>

  <body>


    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



   <nav class="site-header sticky-top py-1">
     <div class="container d-flex flex-column flex-md-row justify-content-between">
       <a class="py-2 d-none d-md-inline-block" href="/upload">Upload</a>
       <a class="py-2 d-none d-md-inline-block" href="#">Leaderboard</a>
       <a class="py-2 d-none d-md-inline-block" href="#">Stores</a>
       <a class="py-2 d-none d-md-inline-block" href="#">Donate</a>
       <a class="py-2 d-none d-md-inline-block" href="#">Jobs</a>
       <a class="py-2 d-none d-md-inline-block" href="#">Services</a>
       <a class="py-2 d-none d-md-inline-block" href="#">News and Events</a>
       <a class="py-2 d-none d-md-inline-block" href="/profile">Profile</a>
     </div>
   </nav>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
     <div class="alert alert-success alert-dismissible">
     <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
     {{ messages[0] }}
   </div>
   {% endif %}
   {% endwith %}
   {% block body %}{% endblock %}

   <div class="position-relative overflow-hidden p-3 p-md-4 m-md-2 text-center bg-light special">
     <div class="p-lg-5 mx-auto my-5">
       <img class="mb-4" src="../static/logo.svg" alt="" width="150" height="150">
       <h1 class="display-4 font-weight-normal">Hi, {{user_data.first_name}}!</h1>
       <h3 class="display-4 font-weight-normal">You have saved 39,234 carbons!</h3>
       <p class="lead font-weight-normal">Thank you for being a part of Goodwill community!</p>
     </div>
   </div>

   <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 px-3 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">User Profile</h2>
            <p class="lead">Ryan Chun</p>
            <div class="row">
              <p class="col-6">Email</p>
              <p class="col-6">ec3255@columbia.edu</p>
            </div>
            <div class="row">
              <p class="col-6">Age</p>
              <p class="col-6">64</p>
            </div>
            <div class="row">
              <p class="col-6">Occupation</p>
              <p class="col-6">Student</p>
            </div>
            <div class="row">
              <p class="col-6">Income</p>
              <p class="col-6">$49,304</p>
            </div>
            <div class="row">
              <p class="col-6">Total Donation</p>
              <p class="col-6">$1,304</p>
            </div>
            <div class="row">
              <p class="col-6">Goodwill Point</p>
              <p class="col-6">342</p>
            </div>
          </div>
        </div>
     <div class="bg-dark mr-md-3 px-3 px-md-5 text-center overflow-hidden">
       <div class="my-3 p-3">
         <h2 class="display-5">Leaderboard</h2>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>4325</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>2314</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Blue</td>
                <td>Berry</td>
                <td>1324</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>786</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Code</td>
                <td>Good</td>
                <td>42</td>
              </tr>
            </tbody>
          </table>
       </div>
     </div>
   </div>

   <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
     <div class="bg-dark mr-md-3 px-3 px-md-5 text-center overflow-hidden">
       <div class="my-3 p-3">
         <h2 class="display-5">Donate to us!</h2>
         <div class="button-wrapper">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypalForm">

            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business"
                value="contactus@goodwill.org">

            <!-- Specify a Donate button. -->
            <input type="hidden" name="cmd" value="_donations">

            <!-- Specify details about the contribution -->
            <input type="hidden" name="item_name" value="Goodwill Industries International, Inc.">
            <input type="hidden" name="item_number" value="Donation">
            <input type="hidden" name="currency_code" value="USD">

            <!-- Display the payment button. -->
            <input type="image" name="submit" width="150" height="50" src="../static/donation.png" alt="Donate">
          </form>
          <a id="amazon" href="https://smile.amazon.com/gp/chpf/homepage/ref=smi_se_ssr_srch_stsr?q=Goodwill+of+Delaware+%26+Delaware+County%2C+Inc.&orig=%2F&ie=UTF-8"><img src="../static/amazon.png" width="150" height="50" alt="Donation"></a>
        </div>
       </div>
     </div>
     <div class="bg-dark mr-md-3 px-3 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Share about us!</h2>
          <div class="button-bar">
              <div class="fb-share-button" data-href="https://www.goodwillde.org/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.goodwillde.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-size="large" data-url="https://www.goodwillde.org/"></script>
=======

          </div>
        </div>
      </div>
   </div>

   <footer class="container py-5">
     <div class="row">
       <div class="col-6 col-md">
         <h4>Connect</h4>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">1 (866) 317-2299</a></li>
           <li><a class="text-muted" href="#">Facebook</a></li>
           <li><a class="text-muted" href="#">Twitter</a></li>
           <li><a class="text-muted" href="#">Instagram</a></li>
           <li><a class="text-muted" href="#">LinkedIn</a></li>
           <li><a class="text-muted" href="#">Youtube</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">
         <h4>Employment</h4>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Work for Goodwill</a></li>
           <li><a class="text-muted" href="#">Programs and Services</a></li>
           <li><a class="text-muted" href="#">Job Resource Centers</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">
         <h4>Find</h4>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Locations</a></li>
           <li><a class="text-muted" href="#">Contact Us</a></li>
           <li><a class="text-muted" href="#">Job Resource Centers</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">
         <h4>Get The Scoop</h4>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Sales</a></li>
           <li><a class="text-muted" href="#">Events</a></li>
           <li><a class="text-muted" href="#">Opportunities</a></li>
           <li><a class="text-muted" href="#">More</a></li>
         </ul>
       </div>
     </div>
   </footer>
</html>
